.partner-card {
  margin: var(--rb-spacing-small);
  padding: var(--rb-spacing-small);
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.partner-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
}

.partner-header:hover {
  transform: scale(1.2);
}

.partner-header:hover .imagen {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.logo-absolute {
  position: absolute;
  top: var(--rb-spacing-small);
  left: var(--rb-spacing-small);
}

.logo-absolute > img {
  width: 60px;
  height: 60px;
  display: flex;
  object-fit: cover;
}

.name-restaurant-span {
  color: var(--rb-text-primary);
  opacity: 0;
  transition: opacity 0.9s;
  font-size: var(--rb-font-size-small);
}
.partner-header:hover .name-restaurant-span {
  opacity: 1;
}

.partner-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: var(--rb-spacing-small);
  border-radius: 100%;
}

.partner-name {
  font-size: var(--rb-font-size-large);
  color: var(--rb-text-primary);
  margin: 0;
}

.modal-content {
  background: var(--rb-text-primary);
  border-radius: var(--rb-border-radius);
  padding: 0 0 var(--rb-spacing-medium) 0;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: translateY(-30px);
  transition: transform 0.5s ease;
}

.modal-overlay.open .modal-content {
  transform: translateY(0);
}

.modal-close {
  position: absolute;
  top: var(--rb-spacing-small);
  right: var(--rb-spacing-small);
  border: none;
  font-size: var(--rb-font-size-large);
  color: var(--rb-text-primary);
  cursor: pointer;
  background-color: var(--rb-bg-cancel);
  border-radius: 50%;
  padding: 3px 7px;
}

.modal-banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.modal-details {
  color: var(--rb-text-secondary);
  display: flex;
  flex-direction: column;
}
.container-map-view {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-map-view > div {
  width: 80%;
}
