:root {
  /* Colores */
  --rb-bg-primary: #3e2723; /* Marrón oscuro */
  --rb-bg-primary-transparent: #3e272381; /* Marrón oscuro */
  --rb-bg-secondary: #c75306; /* Marrón dulce */
  --rb-bg-tertiary: #d2b48c; /* Marrón claro */
  --rb-bg-green: #0b660b; /* Green */
  --rb-bg-light: #f5f5dc; /* Beige */
  --rb-bg-cancel: #fa4c4c; /* Red */
  --rb-bg-register: #fc9723; /* Red */

  --rb-text-primary: #ffffff; /* Blanco */
  --rb-text-secondary: #333333; /* Gris oscuro */
  --rb-text-tertiary: #000000; /* Negro */

  /* Medidas */
  --rb-spacing-small: 0.5rem; /* 8px */
  --rb-spacing-medium: 1rem; /* 16px */
  --rb-spacing-large: 2rem; /* 32px */

  --rb-border-radius: 0.25rem; /* 4px */
  --rb-border-width: 1px;

  /* Tipografía */
  --rb-font-size-small: 0.85rem; /* 14px */
  --rb-font-size-medium: 1rem; /* 16px */
  --rb-font-size-large: 1.25rem; /* 20px */
  --rb-font-size-xlarge: 1.5rem; /* 24px */
  --rb-font-size-name-app: 3rem; /* 48px */
  --rb-line-height: 1.5;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
  font-size: var(--rb-font-size-medium);
  line-height: var(--rb-line-height);
  color: var(--rb-text-secondary);
  background-color: var(--rb-bg-primary);
}
h1 {
  font-size: var(--rb-font-size-xlarge);
}

h2 {
  font-size: var(--rb-font-size-large);
}

p {
  font-size: var(--rb-font-size-medium);
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--rb-font-size-medium);
}
a {
  text-decoration: none;
  color: var(--rb-text-primary);
  font-size: var(--rb-font-size-medium);
}
button {
  cursor: pointer;
}
.button {
  display: inline-block; /* Asegura que se comporte como un botón */
  padding: var(--rb-spacing-small) var(--rb-spacing-medium);
  border: none;
  border-radius: var(--rb-border-radius);
  background-color: var(--rb-bg-secondary) !important;
  color: var(--rb-text-primary) !important;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}
.register {
  background-color: var(--rb-bg-register) !important;
}

.button:hover {
  transform: scale(0.9);
}
.name-app {
  font-size: var(--rb-font-size-name-app);
  font-weight: bolder;
  text-transform: capitalize;
}
.more-info {
  background-color: transparent;
  border: none;
  text-align: end;
  color: var(--rb-bg-cancel);
  transition: all 0.3s;
}
.more-info:hover {
  transform: scale(0.9);
}
.green {
  background-color: var(--rb-bg-green) !important;
}

.fade-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Aplica la transición de visibilidad */
.fade-in {
  opacity: 1;
}

/* Aplica la transición de invisibilidad (opcional) */
.fade-out {
  opacity: 0;
}

/* Oculta el elemento completamente (opcional) */
.hidden {
  display: none;
}
